{% extends 'base.html' %}
{% block content %}
<body class="body">
  <div class="wrapper home">
    <div class="hero5 home-hero5">
      <div class="hero5-image-wrap homepage-wrap">
        <div class="content-wrap">
          <div class="home-hero-text-wrap">
            <div class="home-hero-wrap">
              <div data-w-id="5ab16fec-c814-d8d5-ef68-f9d31ac90dd2" style="opacity:0" class="prospero-ui-kit-headline-copy-copy">sand box<br></div>
              <div class="size3-text home"><strong class="bold-text-2">전자 및 정보공학과 비교과 웹페이지</strong><br></div>
            </div>
            <div class="kit-hero-buttons-wrap">
              <a data-w-id="cb38861a-ddd8-53bf-f2db-81d718863b1a" href="https://kuseum.korea.ac.kr/" target="_blank" class="button-large blue-button w-inline-block">
                <div class="text-block-2"><strong>인재양성 홈페이지</strong></div><img src="images/Arrow2x.svg" alt="" class="button-arrow">
              </a>
            </div>
          </div>
        </div>
        <div class="home-hero-image-wrap"><img src="images/main_pic.jpg" loading="lazy" width="900" sizes="100vw" srcset="images/main_pic-p-500.jpeg 500w, images/main_pic-p-800.jpeg 800w, images/main_pic-p-1080.jpeg 1080w, images/main_pic-p-1600.jpeg 1600w, images/main_pic-p-2000.jpeg 2000w, images/main_pic-p-2600.jpeg 2600w, images/main_pic-p-3200.jpeg 3200w, images/main_pic.jpg 3610w" alt="" class="image"></div>
      </div>
      <div class="home-dark-wrap-section">
        <div class="section baner">
          <div class="_4_major_title">4대 전공</div>
          <div class="wrapper home_baner">
            <div class="content">
              <div class="w-layout-grid content34-grid home_baner">
                <div id="w-node-_8a0d8ed0-5c57-e5e7-67a3-682dce08266c-ce082665" class="home-info-item-wrap">
                  <div class="home-deco-dot"></div>
                  <div>
                    <div class="text-label home-text-label ai">인공지능/컴퓨터 전공</div>
                    <p class="paragraph-70 ai">소프트웨어로 구현되는 최신 인공지능 기술에 대한 <br>이해와 함께 기존 컴퓨터 공학에서 배워야 하는<br>핵심 기술인 컴퓨터 하드웨어의 해석 및 설계능력과<br>소프트웨어 설계 능력 함양</p>
                  </div>
                </div>
                <div id="w-node-_8a0d8ed0-5c57-e5e7-67a3-682dce082679-ce082665" class="home-info-item-wrap">
                  <div class="home-deco-dot"></div>
                  <div>
                    <div class="text-label home-text-label ai">바이오/헬스 전자 전공</div>
                    <p class="paragraph-70 ai">바이오/헬스 관련 첨단 의료장비 및 생체기기의<br>원리를 이해하고 연구. 개발할 수 있는 인재를<br>양성하기 위해 전자공학 및 ICT 융합학문<br>전반에 대한 교육</p>
                  </div>
                </div>
                <div id="w-node-_8a0d8ed0-5c57-e5e7-67a3-682dce082686-ce082665" class="home-info-item-wrap right">
                  <div class="home-deco-dot"></div>
                  <div>
                    <div class="text-label home-text-label ai">나노 전자 전공</div>
                    <p class="paragraph-70 ai">나노스케일 반도체 소자 및 집적회로, 3D홀로그램 등<br>차세대 디스플레이, 나노 바이오센서 및 시스템, <br>인공지능 시스템용 뉴로모픽 칩 등 <br>차세대 첨단 융합 분야의 핵심인재양성</p>
                  </div>
                </div>
                <div id="w-node-_8a0d8ed0-5c57-e5e7-67a3-682dce082693-ce082665" class="home-info-item-wrap right">
                  <div class="home-deco-dot"></div>
                  <div>
                    <div class="text-label home-text-label ai">사물인터넷 전공(Internet of Things)</div>
                    <p class="paragraph-70 ai">지능형 서비스를 제공하는 사물 인터넷(IOT) 플랫폼,<br>네트워크, 디바이스, 보안 등에 관한 기본 학문과<br>융합에 대해 다루며 센서, 디바이스, 네트워크,<br>유무선 통신, 플랫폼, 보안등 전자공학 전반의<br>기본 소양을 갖춘 인재양성</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper home">
    <div class="section notice">
      <div class="w-layout-grid product5-grid">
        <div id="w-node-_54d48669-d62f-ae6f-7599-6baf2e511555-7c9b9f8f" class="home-sections-label">
          <div class="label black-label notice">Notice</div>
          <div class="size1-text notice">공지사항</div>
          <p class="paragraph-70">전자 및 정보공학과의<br>비교과 프로그램의 일정과<br>소식을 알려드립니다.</p>
          <a href="{% url 'boardapp:notice' %}" class="more">More -&gt;</a>
        </div>
        <div id="w-node-f6e906e9-47ee-37de-dd5d-c77056d1d052-7c9b9f8f" class="w-layout-grid homepage-layouts-grid">
          <div>
            <div class="image-wrap">
              <a data-w-id="f6e906e9-47ee-37de-dd5d-c77056d1d055" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>Read More</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/curt_1.png" sizes="(max-width: 479px) 76vw, (max-width: 767px) 11vw, (max-width: 991px) 9vw, (max-width: 1919px) 6vw, 7vw" height="150" width="760" srcset="images/curt_1-p-500.png 500w, images/curt_1-p-800.png 800w, images/curt_1-p-1080.png 1080w, images/curt_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">신청하기</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="71eac34d-ffea-9a3c-f4a7-d22056f59b2f" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>Read More</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/curt_1.png" sizes="(max-width: 479px) 76vw, (max-width: 767px) 11vw, (max-width: 991px) 9vw, (max-width: 1919px) 6vw, 7vw" height="150" width="760" srcset="images/curt_1-p-500.png 500w, images/curt_1-p-800.png 800w, images/curt_1-p-1080.png 1080w, images/curt_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">1 - Hero</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="4148afcc-97b6-a7cf-e5da-bf1a0df98f84" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>Read More</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/curt_1.png" sizes="(max-width: 479px) 76vw, (max-width: 767px) 11vw, (max-width: 991px) 9vw, (max-width: 1919px) 6vw, 7vw" height="150" width="760" srcset="images/curt_1-p-500.png 500w, images/curt_1-p-800.png 800w, images/curt_1-p-1080.png 1080w, images/curt_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">1 - Hero</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="78c260b5-3e68-6f1b-ea19-a27862d7a922" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>Read More</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_보라_1.png" sizes="(max-width: 479px) 76vw, (max-width: 767px) 11vw, (max-width: 991px) 9vw, (max-width: 1919px) 6vw, 7vw" height="150" width="760" srcset="images/비교과-배너-템플릿_보라_1-p-500.png 500w, images/비교과-배너-템플릿_보라_1-p-800.png 800w, images/비교과-배너-템플릿_보라_1-p-1080.png 1080w, images/비교과-배너-템플릿_보라_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="f9952882-ac3e-a00d-2df3-5100125e60b5" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_보라_1.png" sizes="(max-width: 479px) 76vw, (max-width: 767px) 11vw, (max-width: 991px) 9vw, (max-width: 1919px) 6vw, 7vw" height="150" width="760" srcset="images/비교과-배너-템플릿_보라_1-p-500.png 500w, images/비교과-배너-템플릿_보라_1-p-800.png 800w, images/비교과-배너-템플릿_보라_1-p-1080.png 1080w, images/비교과-배너-템플릿_보라_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="5b222b60-cd13-9fe3-9005-6bd9a5f5346c" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_보라_1.png" sizes="(max-width: 479px) 76vw, (max-width: 767px) 11vw, (max-width: 991px) 9vw, (max-width: 1919px) 6vw, 7vw" height="150" width="760" srcset="images/비교과-배너-템플릿_보라_1-p-500.png 500w, images/비교과-배너-템플릿_보라_1-p-800.png 800w, images/비교과-배너-템플릿_보라_1-p-1080.png 1080w, images/비교과-배너-템플릿_보라_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="33e8a41c-3421-910b-cd96-995e810c8d95" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_빨강_1.png" sizes="(max-width: 479px) 76vw, (max-width: 767px) 11vw, (max-width: 991px) 9vw, (max-width: 1919px) 6vw, 7vw" height="150" width="760" srcset="images/비교과-배너-템플릿_빨강_1-p-500.png 500w, images/비교과-배너-템플릿_빨강_1-p-800.png 800w, images/비교과-배너-템플릿_빨강_1-p-1080.png 1080w, images/비교과-배너-템플릿_빨강_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="5988bae9-2034-ef8f-8c71-c1cc54748a7c" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_빨강_1.png" sizes="(max-width: 479px) 76vw, (max-width: 767px) 11vw, (max-width: 991px) 9vw, (max-width: 1919px) 6vw, 7vw" height="150" width="760" srcset="images/비교과-배너-템플릿_빨강_1-p-500.png 500w, images/비교과-배너-템플릿_빨강_1-p-800.png 800w, images/비교과-배너-템플릿_빨강_1-p-1080.png 1080w, images/비교과-배너-템플릿_빨강_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="11884ff1-6fcb-c721-7f4c-17478500a9ef" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_빨강_1.png" sizes="(max-width: 479px) 76vw, (max-width: 767px) 11vw, (max-width: 991px) 9vw, (max-width: 1919px) 6vw, 7vw" height="150" width="760" srcset="images/비교과-배너-템플릿_빨강_1-p-500.png 500w, images/비교과-배너-템플릿_빨강_1-p-800.png 800w, images/비교과-배너-템플릿_빨강_1-p-1080.png 1080w, images/비교과-배너-템플릿_빨강_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper home">
    <div class="section notice">
      <div class="w-layout-grid product5-grid">
        <div id="w-node-_1fc7bbee-3387-6bfa-cca3-e24cf9bb04d1-7c9b9f8f" class="home-sections-label">
          <div class="label black-label d_sum">SoftWare tutoring</div>
          <div class="size1-text">D-sum</div>
          <p class="paragraph-70">학생들 간의 멘토링을 통한<br>SW역량 강화를 목표로 하는<br>비교과 튜터링 프로그램입니다.<br><br>C언어, Python, matlab등을 이용한<br>다양한 프로그래밍 학습과<br>튜터링프로그램을 진행합니다.</p>
          <a href="{% url 'boardapp:dsum' %}" class="more">More -&gt;</a>
        </div>
        <div id="w-node-_1fc7bbee-3387-6bfa-cca3-e24cf9bb04d8-7c9b9f8f" class="w-layout-grid homepage-layouts-grid">
          <div>
            <div class="image-wrap">
              <a data-w-id="d40cd838-69c9-f14a-9d7e-c33897547bcd" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_파랑_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_파랑_1-p-500.png 500w, images/비교과-배너-템플릿_파랑_1-p-800.png 800w, images/비교과-배너-템플릿_파랑_1-p-1080.png 1080w, images/비교과-배너-템플릿_파랑_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="e94443ff-c3f5-e22b-b3cb-d8f7a2688216" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_파랑_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_파랑_1-p-500.png 500w, images/비교과-배너-템플릿_파랑_1-p-800.png 800w, images/비교과-배너-템플릿_파랑_1-p-1080.png 1080w, images/비교과-배너-템플릿_파랑_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="98beb867-5d84-c199-b69f-203d6765c04b" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_파랑_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_파랑_1-p-500.png 500w, images/비교과-배너-템플릿_파랑_1-p-800.png 800w, images/비교과-배너-템플릿_파랑_1-p-1080.png 1080w, images/비교과-배너-템플릿_파랑_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="c7f5b26c-1ae6-7822-eedd-595a442e2ad3" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_노랑_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_노랑_1-p-500.png 500w, images/비교과-배너-템플릿_노랑_1-p-800.png 800w, images/비교과-배너-템플릿_노랑_1-p-1080.png 1080w, images/비교과-배너-템플릿_노랑_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="4cfdad26-b45d-9489-fc7a-46d9bd229aff" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_노랑_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_노랑_1-p-500.png 500w, images/비교과-배너-템플릿_노랑_1-p-800.png 800w, images/비교과-배너-템플릿_노랑_1-p-1080.png 1080w, images/비교과-배너-템플릿_노랑_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="1bc8ef3e-5fbb-3463-f895-72b7eab76ff1" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_노랑_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_노랑_1-p-500.png 500w, images/비교과-배너-템플릿_노랑_1-p-800.png 800w, images/비교과-배너-템플릿_노랑_1-p-1080.png 1080w, images/비교과-배너-템플릿_노랑_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper home">
    <div class="section notice">
      <div class="w-layout-grid product5-grid">
        <div id="w-node-_6289f4f4-f342-6e27-a608-36909938c51a-7c9b9f8f" class="home-sections-label">
          <div class="label black-label _1000q_major">1000Q major</div>
          <div class="size1-text major_1000">전공 1000제</div>
          <p class="paragraph-70">실제 전공과목에 대한<br>역량을 향상시키고,<br>연습할 수 있는 공간입니다.<br><br>해당 과목의 교수님들과 학생들이<br>함께 문제를 만들어가고<br>검증을 합니다.</p>
          <a href="{% url 'boardapp:kquestion' %}" class="more">More -&gt;</a>
        </div>
        <div id="w-node-_6289f4f4-f342-6e27-a608-36909938c521-7c9b9f8f" class="w-layout-grid homepage-layouts-grid">
          <div>
            <div class="image-wrap">
              <a data-w-id="456b6282-72e7-8c43-1200-32d7d81cd706" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_초록_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_초록_1-p-500.png 500w, images/비교과-배너-템플릿_초록_1-p-800.png 800w, images/비교과-배너-템플릿_초록_1-p-1080.png 1080w, images/비교과-배너-템플릿_초록_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="8752a410-4fa2-7a7c-2c5d-bcd545d60c85" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_초록_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_초록_1-p-500.png 500w, images/비교과-배너-템플릿_초록_1-p-800.png 800w, images/비교과-배너-템플릿_초록_1-p-1080.png 1080w, images/비교과-배너-템플릿_초록_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="ac4d3c7d-8858-cba3-9816-eeea38c0e07b" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_초록_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_초록_1-p-500.png 500w, images/비교과-배너-템플릿_초록_1-p-800.png 800w, images/비교과-배너-템플릿_초록_1-p-1080.png 1080w, images/비교과-배너-템플릿_초록_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="75cf92c3-cf1b-57e6-b093-3eb278e6b8e7" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_1-p-500.png 500w, images/비교과-배너-템플릿_1-p-800.png 800w, images/비교과-배너-템플릿_1-p-1080.png 1080w, images/비교과-배너-템플릿_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="bf5fa6e9-9153-e9f6-2cea-e150f9c0d81c" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_1-p-500.png 500w, images/비교과-배너-템플릿_1-p-800.png 800w, images/비교과-배너-템플릿_1-p-1080.png 1080w, images/비교과-배너-템플릿_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="679e28a2-773b-d689-0254-dc002d62483d" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_1-p-500.png 500w, images/비교과-배너-템플릿_1-p-800.png 800w, images/비교과-배너-템플릿_1-p-1080.png 1080w, images/비교과-배너-템플릿_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper home">
    <div class="section notice">
      <div class="w-layout-grid product5-grid">
        <div id="w-node-c81e252c-28cb-1f28-b8da-8f8d1332e51d-7c9b9f8f" class="home-sections-label">
          <div class="label black-label major_tutoring">major tutoring</div>
          <div class="size1-text major_tutoring">전공 튜터링</div>
          <p class="paragraph-70">실제 전공과목에 대해<br>학생들 스스로 멘토링 그룹을 형성해<br>학습을 하는 튜터링 프로그램입니다.</p>
          <a href="{% url 'boardapp:tutoring' %}" class="more">More -&gt;</a>
        </div>
        <div id="w-node-c81e252c-28cb-1f28-b8da-8f8d1332e52f-7c9b9f8f" class="w-layout-grid homepage-layouts-grid">
          <div>
            <div class="image-wrap">
              <a data-w-id="ad17d558-e0e8-120e-dc5a-4d4a72fb1910" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_1-p-500.png 500w, images/비교과-배너-템플릿_1-p-800.png 800w, images/비교과-배너-템플릿_1-p-1080.png 1080w, images/비교과-배너-템플릿_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="50658a62-4b7e-0b11-92d6-138e261950d6" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_초록_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_초록_1-p-500.png 500w, images/비교과-배너-템플릿_초록_1-p-800.png 800w, images/비교과-배너-템플릿_초록_1-p-1080.png 1080w, images/비교과-배너-템플릿_초록_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="a2b798a5-6e77-a270-c867-946f4016521f" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_노랑_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_노랑_1-p-500.png 500w, images/비교과-배너-템플릿_노랑_1-p-800.png 800w, images/비교과-배너-템플릿_노랑_1-p-1080.png 1080w, images/비교과-배너-템플릿_노랑_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="123de6e4-2ae0-a06d-c002-ee8690de2352" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_빨강_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_빨강_1-p-500.png 500w, images/비교과-배너-템플릿_빨강_1-p-800.png 800w, images/비교과-배너-템플릿_빨강_1-p-1080.png 1080w, images/비교과-배너-템플릿_빨강_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="f08d30d2-fe84-2df6-59a9-2e973ac2a349" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_파랑_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_파랑_1-p-500.png 500w, images/비교과-배너-템플릿_파랑_1-p-800.png 800w, images/비교과-배너-템플릿_파랑_1-p-1080.png 1080w, images/비교과-배너-템플릿_파랑_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
          <div>
            <div class="image-wrap">
              <a data-w-id="75204be7-237d-6ea1-872c-966466b451a2" style="opacity:0" href="#" class="item-overlay w-inline-block">
                <div class="button-small white-small">
                  <div>View Category</div>
                </div>
              </a>
              <div class="home-item-wrap"><img src="images/비교과-배너-템플릿_보라_1.png" sizes="(max-width: 479px) 33vw, (max-width: 767px) 11vw, (max-width: 991px) 8vw, (max-width: 1919px) 5vw, 6vw" height="150" width="760" srcset="images/비교과-배너-템플릿_보라_1-p-500.png 500w, images/비교과-배너-템플릿_보라_1-p-800.png 800w, images/비교과-배너-템플릿_보라_1-p-1080.png 1080w, images/비교과-배너-템플릿_보라_1.png 1520w" alt="" class="home-image"></div>
            </div>
            <div class="product3-content-wrap">
              <a href="/1-hero" class="size4-link">대제목</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}