.web_logo {
    font-family: 'Galada', cursive;
}
.web_footer {
    text-align:center; margin-top: 2rem;
}
.web_footer_button {
    font-size: .6rem;
}
.web_header {
    text-align:center;
    margin: 2rem 0;
}
